$screens: (
  xs: 576px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);
@mixin media($keys...) {
  @each $key in $keys {
    @if $key == "xs" {
      @media (max-width: map-get($screens, $key)) {
        @content;
      }
    } @else {
      @media (min-width: map-get($screens, $key)) {
        @content;
      }
    }
  }
}
