@import 'normalize.css';

:root {
    --primary: #ea136c;
}
* {
    box-sizing: border-box;
}
html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
